@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Roboto');


#wrapper {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  min-height: 100vh;
  color: #222;
}

.title {
  font-family: "Fugaz One";
  margin-bottom: 0px;
}

header {
  font-size: 2rem;
}

.subtitle {
  margin-top: -10px;
}

pre {
  text-align: left;
  padding: 0;
  margin-left: -100px;
  overflow-y: scroll;
  width: 100vw;
}